@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
    background-color: #fae4bb;
  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  .response-box {
    background-color: #fff5e2;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(255, 106, 0, 0.5);
  }

  .note-textbox-container {
    position: relative;
  }

  .note-textbox {
    width: 100%;
    max-width: 800px;
    resize: none;
    border-radius: 1rem;
    border: 1px solid #ccc;
    background-color: white;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    outline: none;
    transition: all 0.3s;
    margin: auto;
    display: block;
  }

  .note-textbox:focus {
    border-color: #823e2e;
    box-shadow: 0 0 0 0.2rem rgba(255, 153, 0, 0.25);
  }

  .mic-button {
    position: absolute;
    bottom: 2%;
    right: 1%;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .mic-button:hover {
    background-color: #fae4bb;
  }

  .prompt-textbox-container {
    width: 100%;
    position: relative;
    margin-top: 0px;
  }

  .prompt-textbox {
    background-color: white;
    width: 100%;
    max-width: 800px;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 9999px;
    outline: none;
    transition: all 0.3s;
    display: block;
    margin: auto;
    color: black;
  }

  .prompt-textbox:focus {
    border-color: #823e2e;
    box-shadow: 0 0 0 0.2rem rgba(255, 153, 0, 0.25);
  }

  .prompt-submit-button {
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    background-color: #823e2e;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .prompt-submit-button:hover {
    background-color: #fae4bb;
    color: black;
  }

  .note-page-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    min-height: 100vh;
  }

  .note-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    margin-top: 8%;
    position: relative;
    padding: 1rem;
  }

  .char-count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
  }

  .amanuensis-response {
    width: 50%;
    padding: 1rem;
    margin-top: 7rem;
    color: black;
  }

  .amanuensis-container {
    background-color: #f3f4f6;
    padding: 1rem;
    border-radius: 0.375rem;
  }

  .amanuensis-title {
    font-size: 1.125rem;
    font-weight: 600;
  }

  .signin-section {
    position: relative;
    z-index: 10;
    overflow: hidden;
    padding-bottom: 4rem;
    padding-top: 9rem;
  }

  @media (min-width: 768px) {
    .signin-section {
      padding-bottom: 5rem;
    }
  }

  @media (min-width: 1024px) {
    .signin-section {
      padding-bottom: 7rem;
      padding-top: 11.25rem;
    }
  }

  .signin-container {
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-wrap: wrap;
  }

  .signin-wrapper {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .signin-box {
    box-shadow: var(--shadow-three);
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    border-radius: 0.5rem;
    background-color: white;
    padding: 2.5rem 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  @media (min-width: 640px) {
    .signin-box {
      padding: 3.75rem;
    }
  }

  .signin-title {
    margin-bottom: 0.75rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
  }

  @media (min-width: 640px) {
    .signin-title {
      font-size: 1.875rem;
    }
  }

  .signin-description {
    margin-bottom: 2.75rem;
    text-align: center;
    font-size: 1rem;
    color: black;
  }

  .apikey-modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .apikey-modal {
    background-color: white;
    border-radius: 0.5rem;
    padding: 2.5rem 1.5rem;
    box-shadow: var(--shadow-three);
    border: 1px solid rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    text-align: center;
  }

  .apikey-title {
    margin-bottom: 0.75rem;
    text-align: center;
    font-size: 1.5rem;
    color: black;
  }

  .apikey-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .apikey-input-container .prompt-textbox {
    width: 100%;
    max-width: 800px;
    margin-bottom: 1rem;
  }

  .apikey-input-container .model-select {
    width: 100%;
    max-width: 800px;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
    color: black;
  }

  .apikey-submit-button {
    position: absolute;
    top: 21px;
    right: 22px;
    transform: translate(50%, -50%);
    width: 2rem;
    height: 2rem;
    background-color: #823e2e;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .apikey-submit-button:hover {
    background-color: #fae4bb;
    color: black;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}
